html, body {
  background-color: white;
  min-width: 700px;
  font-family: 'Comfortaa';
  margin:20px;
};
.myusertab{
  margin-right: 10
}
.fbtn-footer{
  margin-top: 20
}
.assets {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.assets td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
